.informacion_container {
    width: 100%;
}
.informacion__edit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.informacion__edit input {
    padding: 4px;
    width: 100%;
    border-radius: 4px;
    border: 2px solid #6b6b6b;
    outline: none;
    transition : all 250ms ease-in-out;
}
.informacion__edit input:focus {
    border: 2px solid #212b85;
    transition : all 250ms ease-in-out;
}
.informacion_add {
    display: inline-flex;
    width: 100%;
}
.informacion_submit__button {
    margin: 15px 0 0 5px;
    background-color: #ffffff;
    color: green;
    width: 60%;
    transition: all 250ms ease-in-out;
    border-radius: 6px;
    outline: none;
    border: 2px solid green;
    padding: 6px;
}
.informacion_add__button {
    margin-top: 15px;
    background-color: #ffffff;
    color: #212b85;
    width: 30%;
    transition: all 250ms ease-in-out;
    border-radius: 6px;
    outline: none;
    border: 2px solid #212b85;
    padding: 6px;
}
.informacion_add__button:hover {
    background-color: #212b85;
    color: #ffffff;
    transition: all 250ms ease-in-out;
    cursor: pointer;
}
.informacion_submit__button:hover {
    background-color: green;
    color: #ffffff;
    transition: all 250ms ease-in-out;
    cursor: pointer;
}
.informacion_remove__button {
    border-radius: 4px;
    padding: 6px;
    width: 25px;
    height: 25px;
    background-color: red;
    color: white;
    font-weight: bold;
    outline: none;
    border: none;
    margin-left: 5px;
}
.informacion_field{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 5px 0 5px 0;
}