.diagram_container {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.diagram_items {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.diagram_item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 6vw;
    height: 7.5rem;
    padding: 0;
    margin: 0;
}
.diagram_items li {
    list-style: none;
}
.diagram_item__icon {
    width: 100px;
    opacity: 1;
    transition: all 150ms ease;
}
.diagram_item__icon.on {
    width: 75px;
    transition: all 150ms ease;
}
.diagram_item__icon:hover {
    transition: all 150ms ease;
    cursor: pointer;
}
.item_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:  0rem 0 0 0;
}
.item {
    display: flex;                                                                      
    justify-content: center;
}
.item_line {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.item_stick {
    width: 1.5px;
    background-color: #6b6b6b;
    opacity: 0.5;
    height: 4rem;
    transition : all 750ms ease-in-out; 
}
.item_stick.on {
    width: 2px;
    background-color: #212B85;
    opacity: 1;
    transition : all 750ms ease-in-out; 
}
.diagram_info {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius : 12px;
    border : 1.5px solid #212B85;
    opacity: 1;
    height: 25rem;
    margin:  0;
    transition: all 1000ms ease-out;
}
.diagram_info.off {
    height: 0rem;
    opacity: 0.5;
    color: transparent;
    border:1.5px solid #6b6b6b;
    transition: all 1000ms ease-out;
}
.diagram_info.off a {
    opacity: 0;
    transition: all 1000ms ease-out;
}
.diagram_info__title {
    font-size: 3.5vmin;
}
.diagram_info__text {
    font-size: 2.5vmin;
    }
.diagram_textarea {
    width: 75%;
}
 .diagram_info a {
    font-weight: bold;
    color: black;
    transition: all 1000ms ease-out;
 }

 @media(max-width:768px) {
     .diagram_info{
         width: 100%;
         height: 35rem;
     }
     .diagram_item{
         width: 5rem;
     }
     .diagram_info__title {
         font-size: 6vmin;
     }
     .diagram_info__text {
        font-size: 5vmin;
     }
     .diagram_item__icon {
         width: 50px;
     }
     .diagram_item__icon.on {
         width: 15vw;
     }
 }