.list_container {
    width: 80%;
    padding: 1.5rem 1rem 1.5rem 1rem;
}
.list {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    width: 100%;
    padding: 0;
    margin: 0;
}
.list_item {
    display: inline-flex;
    align-items: center;
    text-align: left;
    list-style: none;
    margin: 5px 0 5px 15px;
    box-shadow: 0 0 10px -7.5px;
    text-indent: 10px;
    border: 2px solid transparent;
    transition: border 250ms ease-in-out;
}
.list_item_text {
    width: 95%;
    display: inline-flex;
    align-items: center;
}
.list_item_icon {
    display: flex;
    justify-content: center;
    align-items: center;
}
.list_item_icon img {
    width: 15px;
    transition: all 100ms ease-in-out;
}
.list_item_icon a {
    display: flex;
    justify-content: center;
    align-items: center;
}
.list_item_icon img:hover {
    width: 17.5px;
    cursor: pointer;
    transition: all 100ms ease-in-out;
}
.list_item:hover {
    border: 2px solid #212B85;
    transition: border 250ms ease-in-out;
}
.list_item h1 {
    font-size: 16px;
}
.list_item p {
    opacity: 0;
    transition: all 250ms ease;
}
.list_item:hover p {
    opacity: 1;
    transition: all 250ms ease;
}

@media(max-width: 768px) {
    .list_container {
        width: 100%;
    }
    .list_item p {
        display: none;
    }
}