.toolbar_container {
    width: 90%;
}
.toolbar {
    box-shadow: 0 0 12.5px -7.5px;
    width: 1    00%;
    text-align: left;
   
    margin: 0 0 2.5vw 0;
    border-radius: 4px;
    padding: 0.25vw 0 0.25vw 0;
}
.toolbar_section {
    margin: 2vw  0 2vw 0;
    padding: 0;
    text-indent: 2vw;
}
.toolbar_title {
    font-size: 1.5rem;
    font-weight: bold;
    transition: color 250ms ease-in;
}
.toolbar_title:hover {
    color: #212B85;
    transition: color 250ms ease-in;
    cursor: pointer;
}
.toolbar_item {
    list-style: none;
    margin: 10px 0 10px 0;
    transition: transform 200ms ease-in-out ;
    font-size: 1.25rem;
    transition: margin 500ms , opacity 250ms;
}
.toolbar_item.hidden {
    opacity: 0;
    height: 0;
    margin: 0;
    transition: margin 500ms ;
}
.toolbar_item:hover {
    transform: translateX(15px);
    transition: transform 200ms ease-in-out ;
}
.toolbar_item:hover a {
    color: #1b1b1b;
    transition: color 200ms ease-in-out , font-weight 200ms ease-in-out;
    font-weight: bold;
}
.toolbar_item a {
    text-decoration: none;
    color: #5b5b5b;
    transition: color 200ms ease-in-out , font-weight 200ms ease-in-out;
}
@media(max-width: 728px) {
    .toolbar_container {
        display: none;
    }
}