.home_button__container {
    height: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home_button__logo {
    width: 25px;
    transition: width 150ms ease;
}
.home_button__logo:hover {
    width: 30px;
    transition: width 150ms ease;
}