.add_segment__button {
    width: 100%;
    background-color: #212b85;
}
.blog_segment__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 8px;
    margin: 20px 0 20px 0;
}
.blog_segment{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 75%;
    border-radius: 8px;
   
}
.segment_fields{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 25px 15px 25px 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px -7.5px;
    margin: 5px;
}
.segment_fields label {
    color: #212b85;
}
.segment_fields textarea {
    height: 20rem;
}
.plus_button {
    width: 35%;
    margin:  10px 0 10px 0;
    padding: 15px;
    border: 2px solid #212b85;
    border-radius: 8px;
    font-size: 18px;
    color: #212b85;
    background-color: white;
    transition: all 250ms ease-in-out;
    outline: none;
}
.plus_button:hover {
    background-color: #212b85;
    color: white;
    cursor: pointer;
}
.segment:hover {
    border: 2px solid #212b85;
    transition: all 250ms ease; 
}
.add_section_btn{
    width: 75px;
    border: 2px solid #212b85;
    border-radius: 8px;
    margin:  0 5px 0 5px;
    padding: 10px;
    color: #212b85;
    background-color: white;
    font-weight: bold;
    transition: all 250ms ease-in-out;
    outline: none;
}
.add_section_btn:hover{
    background-color: #212b85;
    color: white;
    cursor: pointer;
}
.delete_section_btn {
    width: 37.5px;
    border: 2px solid red;
    border-radius: 8px;
    padding: 10px;
    background-color: white;
    color: red;
    font-weight: bold;
    transition: all 250ms ease-in-out;
    outline: none;
}
.delete_section_btn:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}

@media(max-width: 768px ){
    .segment_head.button button {
        width: 25%;
    }
}