.header_container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 75px;
}
.header{
  position: fixed;
  display : flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: none;
  background-color: #1b1b1b;
  width: 100%;
  height: 50px;
}
.header_tools{
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  background-color: transparent;
  margin: 0;
  padding: 0 5vw;
}
.header_tools_list {
  list-style: none;
  padding: 5px;
  margin: 0 15px 0 15px;
  width: 6vw;
}
.header_tools_anchor {
  color: #ddd;
  text-decoration: none;
  font-size: 18px;

}
.header_tools_anchor:hover {
  font-weight: bold;
}
@media(max-width : 728px) {
  .header_tools {
    visibility: hidden;
    width: 75%;
  }
}