.footer_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px 0 15px 0;
    background-color: #1b1b1b;
}
.footer {
    width: 100%;
}
.footer_container p {
    font-size: 1rem;
    margin: 5px;
    color: white;
}
.footer_container a{
    font-size: 1vw;
    margin: 5px;
    color: white;
}