.footer_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vw;
    background-color: #1b1b1b;
}
.footer {
    width: 40%;
}
.footer_container p {
    font-size: 1vw;
    margin: 5px;
    color: white;
}