.text_component__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0 10px 0;
    border-radius: 6px;
    padding:0;
}
.text_component {
    width: 75%;
    margin: 10px 0 10px 0;
    text-align: left;
}
.text_component__title {
    color: black;
    font-size: 3vmin;
    text-align: center;
    margin-bottom: 2.5rem;
}
.text_component__paragraph {
    color: #1b1b1b;
    font-size:2.5vmin;
}
@media(max-width: 768px) {
    .text_component__container  {
        width: 100%;
    }
    .text_component__title {
        font-size: 24px;
    }
    .text_component__paragraph {
        font-size: 20px;
    }
}